.navbar {
    margin: 10px;
    border-radius: 20px;
    background: #F00 !important;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* li {
    align-items: center;
    background-color: aqua;
    justify-content: center;
} */

.logo {
    width: 15%;
}

.search-bar {
    background: #FFF;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    display: flex;
    float: right;
    margin-right: 15px;
    outline: 5px;
    position: absolute;
    right: 0;
    width: 25%;
}

.pokeball {
    width: 40px;
    margin-left: -5px;
    margin-right: 5px;
}

input {
    border: none;
    outline: none !important;
    width: 100%;
}

@media screen and (max-width: 990px) {
    .search-bar {
        margin-left: 0%;
        width: 100%;
        position: static;
        float: none;
    }
}

@media screen and (max-width: 450px) {
    .logo {
        width: 45%;
    }
}