/*---------------------- Navbar ----------------------*/
.navbar {
  margin: 10px;
  border-radius: 15px;
  background: #F00 !important;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.logo {
  width: 100%;
  cursor: pointer;
}

.logo img {
  width: 20%;
}

/*--------Barra de busqueda----------*/
.search-bar {
  display: flex;
  background: #FFF;
  border-radius: 50px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  margin-right: 5%;
  outline: 5px;
  width: 350px;
  height: 50px;
}

.pokeball {
  width: 40px;
  margin-left: -5px;
  margin-right: 5px;
}

input {
  border: none;
  outline: none !important;
  width: 100%;
}

/* ---------Regiones boton------------ */
.mi-boton {
  background: linear-gradient(180deg, #FFFFFF 26.04%, #B4B4B4 77.08%);
  border-bottom: 3px solid #333;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.mi-boton:active {
  background: linear-gradient(180deg, #B4B4B4 26.04%, #FFFFFF 77.08%);
  border-bottom: 3px transparent;
}

.dropdown-menu {
  background: linear-gradient(238deg, #D9D9D9 0%, rgba(135, 135, 135, 0.445) 100%);
  padding: 0;
  border: none;
}

.dropdown-item {
  transition: background-color 0.5s ease;
  color: #FFF;
}

.dropdown-item:hover {
  color: #000;
  background: #b8b8b8;
  border-bottom: #333 1px solid;
}