<!-- Navbar estatico -->
<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container-fluid">

      <!-- Logo -->
      <div class="logo"><img routerLink="" routerLinkActive="active" class="navbar-brand"
          src=".\assets\imgs\pokedex-logo.webp" alt="logo"></div>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Busqueda -->
        <div class="form-control search-bar">

          <img class="pokeball" src=".\assets\imgs\pokeball.webp" alt="pokeball">
          <input [(ngModel)]="searchTerm" class="me-2" type="text" placeholder="Buscar... ID o Nombre"
            aria-label="Search" #txtInput (input)="home && searchPokemon()">
          <button [className]="home ? 'd-none' : 'btn'" (click)="searchPokemon()">🔍</button>

        </div>
      </div>

      <!-- Lista regiones -->
      <div [classList]="home ? 'collapse navbar-collapse dropdown text-center' : 'd-none'" id="navbarSupportedContent">

        <button class="btn text-black dropdown-toggle mi-boton" type="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          Regiones
        </button>
        <ul class="dropdown-menu dropdown-center">
          <li *ngFor="let region of regionesInfo">
            <button class="dropdown-item" (click)="getPokemonRegion(region.inicio, region.fin)">
              {{ region.nombre }}
            </button>
          </li>
        </ul>

      </div>

    </div>
  </nav>
</header>
