<div class="img-poke" *ngFor="let poke of pokemon">
    <div [ngClass]="{
        'bug-type-card': poke.types[0].type.name=='bug',
        'grass-type-card': poke.types[0].type.name == 'grass',
        'fairy-type-card': poke.types[0].type.name == 'fairy',
        'normal-type-card': poke.types[0].type.name == 'normal',
        'dragon-type-card': poke.types[0].type.name == 'dragon',
        'psychic-type-card': poke.types[0].type.name=='psychic',
        'ghost-type-card': poke.types[0].type.name == 'ghost',
        'ground-type-card': poke.types[0].type.name == 'ground',
        'steel-type-card': poke.types[0].type.name == 'steel',
        'fire-type-card': poke.types[0].type.name=='fire',
        'flying-type-card': poke.types[0].type.name == 'flying',
        'ice-type-card': poke.types[0].type.name == 'ice',
        'electric-type-card': poke.types[0].type.name == 'electric',
        'rock-type-card': poke.types[0].type.name == 'rock',
        'dark-type-card': poke.types[0].type.name == 'dark',
        'water-type-card': poke.types[0].type.name=='water',
        'fighting-type-card': poke.types[0].type.name == 'fighting',
        'poison-type-card': poke.types[0].type.name == 'poison',
    }">
    <!-- <app-sprite></app-sprite> -->
    </div>
</div>