<!-- Navbar -->
<app-navbar></app-navbar>

<!-- Lista -->
<div class="bg">
  <div class="container">
    <div class="row">
      <div class="card text-center m-2 shadow-sm" *ngFor="let poke of filteredPokemons">
        <div class="card-body">

          <div class="sec-1">
            <!-- Id pokemon -->
            <h4><strong>N° {{poke.id}}</strong></h4>

            <!-- Fondo sprite pokemon -->
            <img [ngClass]="{
        'bug-type-card': poke.types[0].type.name=='bug',
        'grass-type-card': poke.types[0].type.name == 'grass',
        'fairy-type-card': poke.types[0].type.name == 'fairy',
        'normal-type-card': poke.types[0].type.name == 'normal',
        'dragon-type-card': poke.types[0].type.name == 'dragon',
        'psychic-type-card': poke.types[0].type.name=='psychic',
        'ghost-type-card': poke.types[0].type.name == 'ghost',
        'ground-type-card': poke.types[0].type.name == 'ground',
        'steel-type-card': poke.types[0].type.name == 'steel',
        'fire-type-card': poke.types[0].type.name=='fire',
        'flying-type-card': poke.types[0].type.name == 'flying',
        'ice-type-card': poke.types[0].type.name == 'ice',
        'electric-type-card': poke.types[0].type.name == 'electric',
        'rock-type-card': poke.types[0].type.name == 'rock',
        'dark-type-card': poke.types[0].type.name == 'dark',
        'water-type-card': poke.types[0].type.name=='water',
        'fighting-type-card': poke.types[0].type.name == 'fighting',
        'poison-type-card': poke.types[0].type.name == 'poison',
    }" [ngSrc]="poke.sprites.front_default!" alt={{poke.name}} width="150" height="150" priority>
          </div>

          <div class="sec-2">
            <h5 class="card-title mt-2">{{poke.name | titlecase}}</h5>

            <div>
              <!-- Tipo -->
              <div class="icons-content div-icon m-1" *ngFor="let types of poke.types" [ngSwitch]="1">
                <img src=".\assets\imgs\icons\bug.svg" class="bug-type-card" *ngSwitchCase="types.type.name=='bug'"
                  alt="{{types.type.name}}">
                <img src=".\assets\imgs\icons\grass.svg" class="grass-type-card"
                  *ngSwitchCase="types.type.name=='grass'" alt="{{types.type.name}}">
                <img src=".\assets\imgs\icons\fairy.svg" class="fairy-type-card"
                  *ngSwitchCase="types.type.name=='fairy'" alt="{{types.type.name}}">
                <img src=".\assets\imgs\icons\normal.svg" class="normal-type-card"
                  *ngSwitchCase="types.type.name=='normal'" alt="{{types.type.name}}">
                <img src=".\assets\imgs\icons\dragon.svg" class="dragon-type-card"
                  *ngSwitchCase="types.type.name=='dragon'" alt="{{types.type.name}}">
                <img src=".\assets\imgs\icons\psychic.svg" class="psychic-type-card"
                  *ngSwitchCase="types.type.name=='psychic'" alt="{{types.type.name}}">
                <img src=".\assets\imgs\icons\ghost.svg" class="ghost-type-card"
                  *ngSwitchCase="types.type.name=='ghost'" alt="{{types.type.name}}">
                <img src=".\assets\imgs\icons\ground.svg" class="ground-type-card"
                  *ngSwitchCase="types.type.name=='ground'" alt="{{types.type.name}}">
                <img src=".\assets\imgs\icons\steel.svg" class="steel-type-card"
                  *ngSwitchCase="types.type.name=='steel'" alt="{{types.type.name}}">
                <img src=".\assets\imgs\icons\fire.svg" class="fire-type-card" *ngSwitchCase="types.type.name=='fire'"
                  alt="{{types.type.name}}">
                <img src=".\assets\imgs\icons\flying.svg" class="flying-type-card"
                  *ngSwitchCase="types.type.name=='flying'" alt="{{types.type.name}}">
                <img src=".\assets\imgs\icons\ice.svg" class="ice-type-card" *ngSwitchCase="types.type.name=='ice'"
                  alt="{{types.type.name}}">
                <img src=".\assets\imgs\icons\electric.svg" class="electric-type-card"
                  *ngSwitchCase="types.type.name=='electric'" alt="{{types.type.name}}">
                <img src=".\assets\imgs\icons\rock.svg" class="rock-type-card" *ngSwitchCase="types.type.name=='rock'"
                  alt="{{types.type.name}}">
                <img src=".\assets\imgs\icons\dark.svg" class="dark-type-card" *ngSwitchCase="types.type.name=='dark'"
                  alt="{{types.type.name}}">
                <img src=".\assets\imgs\icons\water.svg" class="water-type-card"
                  *ngSwitchCase="types.type.name=='water'" alt="{{types.type.name}}">
                <img src=".\assets\imgs\icons\fighting.svg" class="fighting-type-card"
                  *ngSwitchCase="types.type.name=='fighting'" alt="{{types.type.name}}">
                <img src=".\assets\imgs\icons\poison.svg" class="poison-type-card"
                  *ngSwitchCase="types.type.name=='poison'" alt="{{types.type.name}}">
                <div *ngSwitchDefault></div>
              </div>
            </div>

            <button [routerLink]="['/pokemon-details', poke.id]" type="button" class="btn btn-dark">
              Detalles
            </button>
          </div>


        </div>
      </div>

    </div>

  </div>
</div>