/*-------------------- Listas ---------------------*/
.container {
  margin-top: 100px;
  margin-bottom: 25px;
}

.row {
  justify-content: center;
}

/*Carta*/
.card {
  width: 200px;
  border: none;
  border-radius: 15px;
  background: linear-gradient(238deg, #D9D9D9 0%, rgba(135, 135, 135, 0.445) 100%);
}

.poke-img {
  border-radius: 20px;
  text-align: center;
  width: 100%;
  height: auto;
}

.types-container {
  display: flex;
  justify-content: center;
}

/* Bg iconos */
.icons-content {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  width: 30px;
}

/* Iconos img */
.div-icon img {
  width: 100%;
  height: auto;
  padding: 5px;
}


/* MediaQueries*/
@media screen and (max-width: 1000px) {
  .container {
    margin-top: 80px;
  }
}

@media screen and (max-width: 575px) {

  /* Tarjeta */
  .container {
    margin-top: 60px;
  }

  .pokemon-container {
    width: 150px;
  }


  .row {
    flex-wrap: wrap;
  }

  .card {
    width: 90%;
    padding: 0;
  }

  .card-body {
    display: flex;
    align-items: center;
  }

  .sec-2 {
    margin: auto;
  }

  /* Iconos img */
  .div-icon img {
    width: 100%;
    padding: 5px;
  }


}
