/*---------------------- Navbar ----------------------*/
.navbar {
    margin: 10px;
    border-radius: 15px;
    background: #F00 !important;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.logo {
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.logo img {
    width: 15%;
}

.search-bar {
    background: #FFF;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    margin-right: 125px;
    outline: 5px;
    position: absolute;
    right: 0;
    width: 25%;
}

.pokeball {
    width: 40px;
    margin-left: -5px;
    margin-right: 5px;
}

input {
    border: none;
    outline: none !important;
    width: 100%;
}

.dropdown {
    position: absolute;
    right: 0;
    margin-right: 15px;
}

/*-------------------- Listas ---------------------*/
.container {
    margin-top: 120px;
    margin-bottom: 25px;
}

.row {
    display: flex;
    justify-content: center;
}

/*Carta*/
.card {
    width: 200px;
    border: none;
    border-radius: 15px;
    background: linear-gradient(238deg, #D9D9D9 0%, rgba(135, 135, 135, 0.445) 100%);
}

/* Bg iconos */
.icons-content {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    width: 30px;
}

/* Iconos img */
.div-icon img {
    width: 100%;
    padding: 5px;
}

/* MediaQueries*/
@media screen and (max-width: 1000px) {
    .search-bar {
        margin-left: 0%;
        width: 100%;
        position: static;
        float: none;
    }

    .logo {
        width: 90%;
        text-align: center;
        cursor: pointer;
    }

    .logo img {
        width: 25%;
    }

    .container {
        margin-top: 100px;
    }
    
}

@media screen and (max-width: 610px) {
    .logo {
        width: 30%;
    }

    .logo img {
        width: 100%;
    }

    .container {
        margin-top: 80px;
    }
}

/* @media screen and (max-width: 550px) {
    .logo {
        width: 30%;
    }

    .logo img {
        width: 100%;
    }

    .container {
        margin-top: 80px;
    }
}

@media screen and (max-width: 450px) {
    .logo {
        width: 50%;
    }

    .logo img {
        width: 100%;
    }

    .container {
        margin-top: 100px;
    }
} */