<div class="distribucion">
  <!-- Navbar -->
  <app-navbar></app-navbar>

  <main>

    <div class="bg">
      <!-- Fondo -->
    </div>

    <ng-container *ngIf="loading; else showPokemons">
      <app-loading></app-loading>
    </ng-container>

    <!-- Lista -->
    <ng-template #showPokemons>
      <div class="container">
        <div class="row">
          <div class="card text-center m-2 shadow-sm" *ngFor="let poke of filteredPokemons">
            <div class="card-body">

              <div class="sec-1">
                <!-- Id pokemon -->
                <h4><strong>N° {{poke.id}}</strong></h4>
                <!-- Sprite con background para dos tipos -->
                <div class="sprite">
                  <img loading="lazy" [src]="poke.sprites.front_default" [alt]="poke.name"
                    [style.background]="poke.types.length > 1 ? 'linear-gradient(135deg, ' + colorTypes[poke.types[0].type.name] + ' 0%, ' + colorTypes[poke.types[1].type.name] + ' 100%)' : colorTypes[poke.types[0].type.name]"
                    class="poke-img default-card" width="50" height="50">
                </div>
              </div>

              <div class="sec-2">
                <h5 class="card-title mt-2">{{poke.name | titlecase}}</h5>
                <!-- Tipo -->
                <div>
                  <div class="icons-content div-icon m-1" *ngFor="let type of poke.types">
                    <img loading="lazy" [src]="'/assets/imgs/tipos/'+type.type.name+'.svg'" [alt]="type.type.name"
                      [class]="type.type.name + '-type-card'" width="10" height="10">
                  </div>
                </div>
                <!-- <button [routerLink]="['/pokemon-details', poke.id]" type="button" class="btn btn-dark">
                  Detalles
                </button> -->
                <button (click)="goToPokemon(poke.id+'')" type="button" class="btn btn-dark">
                  Detalles
                </button>
              </div>

            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </main>

  <app-Footer></app-Footer>
</div>
